:root{
    font-size: 16px;
}

::-webkit-scrollbar{
    width: var(--scroll-bar-width);
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover{
    background: #222;
    border-radius: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f2f2f2;
    overflow-x: hidden;
    overflow-y: visible;
}

header,
main{
    padding: 0 var(--main-padding);
    box-sizing: border-box;
}

header{
    background-color: hsl(0deg 0% 100% / 85%);
    backdrop-filter: blur(25px);
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    grid-template-columns: 11rem 1fr auto;
    grid-template-rows: 3rem 2rem;
    column-gap: 1rem;
    align-items: center;
    user-select: none;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 5%);
    position: fixed;
    display: grid;
    z-index: 100;
}

main{
    height: auto;
    margin-top: 5rem;
    padding-top: 1.2rem;
}

footer{
    background-color: hsl(0deg 0% 100%);
    width: 100%;
    height: 56px;
    top: auto;
    bottom: 0;
    left: 0;
    column-gap: 0;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 5%);
    justify-content: center;
    position: fixed;
    display: none;
    z-index: 100;
}

a{
    color: #222;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

a:hover,
a:focus{
    color: #c90209;
}

.btn,
.btn-gray{
    color: #000;
    background-color: #ffcc00;
    height: 2.25rem;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    line-height: 2.25rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    user-select: none;
    cursor: pointer;
    display: block;
}

.btn-gray{
    background-color: #dbdbdb;
}

.btn:hover,
.btn:focus{
    color: #000;
    background-color: #f0b400;
}

.btn-gray:hover,
.btn-gray:focus{
    color: #000;
    background-color: #ccc;
}

.header__logo_link{
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.header__logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__search{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.3rem;
    overflow: hidden;
    position: relative;
    display: inline-flex;
}

.header__search *{
    color: #222;
    background-color: #fff;
    height: inherit;
    border: none;
    outline: none;
}

.search__field{
    width: 100%;
    padding-left: 1rem;
    font-size: 1rem;
    flex-grow: 1;
    outline: none;
    border: none;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.search__field::placeholder{
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

.search__button{
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
}

.search__button span{
    opacity: 0.4;
    transition: opacity .15s linear;
}

.search__button:hover span{
    opacity: 1;
}

.header__auth{
    width: auto;
    height: 2rem;
    float: right;
}

.header__auth__login,
.header__auth__registration{
    width: auto;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
}

.header__user{
    background: transparent;
    width: auto;
    max-width: 15rem;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
}

.header__user:hover,
.header__user:focus{
    background-color: hsl(250deg 20% 20% / 8%);
}

.header__user__name{
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
}

.header__user__avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    user-select: none;
    -webkit-user-drag: none;
}

.header__menu{
    width: 100%;
    height: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
    border-top: 1px solid hsl(0deg 0% 0% / 5%);
    box-sizing: border-box;
    position: relative;
}

.header__menu__item,
.header__menu__item-right{
    height: 100%;
    display: inline-block;
}

.header__menu__item a,
.header__menu__item-right a{
    height: 100%;
    padding: 0 1rem;
    line-height: 2rem;
    display: block;
}

.header__menu__item-right{
    right: 0;
    float: right;
    position: absolute;
}

.header__user_menu{
    background-color: #fff;
    box-shadow: 0px 0 10px -3px rgb(0 0 0 / 30%);
    min-width: 100%;
    width: max-content;
    height: 0;
    top: 3rem;
    padding: 0;
    justify-self: end;
    grid-column-start: 3;
    grid-column-end: 4;
    box-sizing: border-box;
    position: fixed;
    overflow: hidden;
    z-index: 150;
    opacity: 0;
}

.header__user:focus-within ~ .header__user_menu,
.header__user:active ~ .header__user_menu,
.header__user_menu:hover,
.header__user_menu:focus-within{
    height: auto;
    padding: 0.5rem 0;
    opacity: 1;
}

.header__user_menu__item{
    width: 100%;
    display: block;
}

.header__user_menu__item a,
.header__user_menu__item span{
    font-size: 1rem;
    padding: 0 1rem;
    line-height: 2.3rem;
    box-sizing: border-box;
    user-select: none;
    display: block;
}

.header__user_menu__item span{
    user-select: text;
}

.header__user_menu__item a:hover,
.header__user_menu__item a:focus{
    color: #000;
    background-color: hsl(250deg 20% 20% / 10%);
}

.footer__menu{
    width: 100%;
    max-width: 400px;
    height: 100%;
    justify-content: center;
    display: flex;
}

.footer__menu__item{
    width: 100%;
    height: 56px;
    display: block;
}

.footer__menu__item a{
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
}

.footer__menu__item a img{
    width: 56px;
    height: 56px;
    padding: 20%;
    opacity: 0.75;
    box-sizing: border-box;
}

.footer__user_menu{
    background-color: white;
    width: 100%;
    height: auto;
    bottom: 100%;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 5%);
    position: absolute;
}

.footer__user_menu.hidden{
    display: none;
}

.footer__user_menu__item{
    width: 100%;
    display: block;
}

.footer__user_menu__item a,
.footer__user_menu__item span{
    font-size: 1rem;
    padding: 0 1rem;
    line-height: 56px;
    box-sizing: border-box;
    user-select: none;
    display: block;
}

.footer__user_menu__item span{
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    border-top: 1px solid rgb(0 0 0 / 20%);
    user-select: text;
}

.footer__user_menu__item a:hover,
.footer__user_menu__item a:focus{
    color: #000;
    background-color: hsl(250deg 20% 20% / 10%);
}

.footer__user_menu__item img{
    width: 100%;
    height: 56px;
    padding: 10px 0;
    opacity: 0.75;
    box-sizing: border-box;
    display: block;
}

section{
    margin-bottom: 4rem;
}

.section__title{
    margin-bottom: 1rem;
}

.carusel{
    --max-cover-ratio: var(--item-ratio);

    width: calc(100% + var(--main-padding) * 2);
    height: auto;
    left: calc(var(--main-padding) * -1);
    overflow: hidden;
    position: relative;
}

.carusel__container{
    list-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-padding: var(--main-padding);
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior-x: contain;
    position: relative;
    display: flex;
}

.carusel__container::-webkit-scrollbar:horizontal{
    height: 0;
}

.carusel__container:before,
.carusel__container:after {
    content: "";
    flex: 0 0 var(--main-padding);
}

.carusel__control-prev,
.carusel__control-next{
    background-color: transparent;
    background-image: url('../images/carusel-arrow.svg');
    background-position-x: 40%;
    background-position-y: calc(var(--item-height) / 2);
    background-size: 1.1rem;
    background-repeat: no-repeat;
    width: calc(var(--main-padding) - var(--main-items-padding));
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    transition: opacity 0.1s ease-out;
    border: none;
    outline: none;
    cursor: default;
    display: block;
    position: absolute;
    opacity: 0;
}

.carusel__control-next{
    background-position-y: calc(100% - var(--item-height) / 2);
    left: auto;
    right: 0;
    transform: rotate(180deg);
}

body .carusel:hover .carusel__control-prev:not(.hidden),
body .carusel:hover .carusel__control-next:not(.hidden){
    cursor: pointer;
    opacity: 1;
}

.carusel__item{
    width: var(--item-width);
    height: calc(var(--item-height) + 5.2rem);
    margin-left: var(--main-items-padding);
    scroll-snap-align: end;
    scroll-snap-stop: normal;
    flex-shrink: 0;
    transition: filter 0.1s ease-out;
    position: relative;
    filter: none;
}

.carusel:hover .carusel__item:not(.visible){
    filter: brightness(0.4) saturate(0.7);
}

.carusel__item:first-child {
    margin-left: 0;
}

.book{
    --cover-ratio: 1.577;

    width: 100%;
    display: block;
    position: relative;
}

.book__cover_link{
    outline: none;
    margin-bottom: 0.2rem;
    display: block;
}

.book__cover{
    background-color: #888;
    width: 100%;
    height: calc(
        var(--item-height) * var(--cover-ratio) / var(--max-cover-ratio)
    );
    margin-top: calc(
        var(--item-height) * (
            1 - var(--cover-ratio) / var(--max-cover-ratio)
        )
    );
    border-radius: 0.3rem;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2);
    user-select: none;
    -webkit-user-drag: none;
}

.book__title,
.book__author{
    font-weight: 500;
    text-decoration: none;
    outline: none;
    display: block;
}

.book__title{
    color: #000;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

.book__author{
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
}

.book__cover_link:hover ~ .book__title,
.book__cover_link:focus ~ .book__title,
.book__title:hover,
.book__title:focus,
.book__author:hover,
.book__author:focus{
    color: #c90209;
}

.cardshelf{
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 12rem);
    column-gap: 1rem;
    row-gap: 1rem;
    display: grid;
}

.card{
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2);
    outline: none;
    display: block;
    box-sizing: border-box;
}

.card:focus{
    outline: none;
    border: 0.15rem solid #c90209;
}

.book_info{
    grid-template-columns: min-content minmax(20rem, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.2rem;
    display: grid;
}

.book_info__side{
    width: min-content;
    height: auto;
}

.book_info__cover{
    width: auto;
    height: calc(100vh - 7.2rem);
    max-height: min(35rem, 50vw);
    margin-bottom: 0.25rem;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 15px -5px rgb(0 0 0 / 20%);
    user-select: none;
    -webkit-user-drag: none;
}

.book_info__main{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.book_info__name{
    max-width: 40rem;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.book_info__author,
.book_info__series,
.book_info__description{
    max-width: 40rem;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.book_info__series,
.book_info__description{
    margin-bottom: 1rem;
}

.book_info__buy_button,
.book_info__add_to_cart_button{
    width: 100%;
    max-width: 15rem;
    margin-bottom: 0.5rem;
}

.book_info__add_to_cart_button{
    margin-bottom: 1rem;
}

.auth_page,
.pay_page{
    grid-template-columns: 18rem;
    grid-template-rows: auto;
    row-gap: 4rem;
    justify-content: center;
    display: grid;
}

.auth_page .message,
.pay_page .error_message,
.pay_page .success_message{
    color: #000;
    background-color: #ffe1db;
    width: 100%;
    height: auto;
    left: 50%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #91080c;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.4rem;
    display: block;
    position: relative;
    transform: translateX(-50%);
}

.pay_page .success_message{
    background-color: #dfffdb;
    border: 1px solid #139108;
}

.auth_page .message label,
.pay_page .error_message label,
.pay_page .success_message label{
    top: 0;
    font-weight: 700;
    user-select: auto;
}

.auth_page__login,
.auth_page__registration{
    width: 100%;
    height: auto;
}

.auth_page h1,
.auth_page h2,
.pay_page h1,
.pay_page h2{
    margin-left: 0.1rem;
}

.auth_page h1,
.pay_page h1{
    margin-bottom: 0rem;
    line-height: 1.9rem;
}

.auth_page h2,
.pay_page h2{
    color: #555;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.auth_page p{
    font-size: 0.6rem;
    margin: 0.5rem 0 0.4rem;
    padding: 0 0.1rem;
    box-sizing: border-box;
}

.auth_page input,
.pay_page input{
    color: #222;
    background-color: #fff;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.3rem;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    border: 1px solid #e5e5e5;
    outline: none;
    border-radius: 0.3rem;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.pay_page input{
    height: 2.75rem;
    padding: 0;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.25rem;
}


.pay_page input::placeholder{
    letter-spacing: 0;
}

.auth_page input[type="checkbox"]{
    background-color: #fff;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid #e5e5e5;
    display: inline-block;
    margin: 0.3rem 0.2rem 0.6rem 0;
}

.auth_page label{
    display: inline-block;
    position: relative;
    top: -0.3rem;
    cursor: pointer;
    user-select: none;
}

.auth_page button,
.pay_page button{
    width: 100%;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 920px){
    .header__user{
        width: auto;
        max-width: 15rem;
    }
    
    .header__user__name{
        display: none;
    }
}

@media screen and (max-width: 800px){
    header {
        height: 7rem;
        grid-template-rows: 2rem 3rem 2rem;
    }

    .header__logo_link {
        height: 1.5rem;
        grid-column-start: 1;
        grid-column-end: 4;
        align-self: flex-end;
    }

    .header__search {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    main {
        margin-top: 7rem;
    }

    .book_info__cover{
        height: calc(100vh - 9.2rem);
    }
}

@media screen and (max-width: 640px){
    :root{
        font-size: 15px;
    }

    header {
        height: 56px;
        grid-template-columns: 1fr;
        grid-template-rows: 56px;
    }

    main {
        margin-top: 56px;
    }

    footer{
        display: flex;
    }

    .header__logo_link,
    .header__user,
    .header__auth,
    .header__menu,
    .header__user_menu{
        display: none;
    }

    .carusel__container{
        -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity;
    }

    .book_info__cover{
        height: calc(100vh - 5.2rem);
    }
}