{% extends "base.html" %}
{% block content %}
    <section class="admin_page">
        <div class="admin_page__add_book">
            {% if success_message %}
                <div class="success_message">{{ success_message }}</div>
            {% endif %}

            {% for field in add_book_form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="error_message">
                            Ошибка в поле {{ field.label }}:<br>{{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <h1>Добавление книги</h1>
            <form action="" method="POST" enctype="multipart/form-data" class="admin_page__add_book__form" novalidate>
                <label for="cover">Обложка</label>
                <input type="file" id="cover" name="cover" required>
                <label for="book">Текст</label>
                <input type="file" id="book" name="book" required>
                <label for="name">Название</label>
                <input type="text" id="name" name="name" required>
                <label for="short_name">Короткое название</label>
                <input type="text" id="short_name" name="short_name">
                <label for="description">Описание</label>
                <textarea id="description" name="description"></textarea>
                <label for="author_id">Автор</label>
                <select id="author_id" name="author_id">
                    {% for author in authors %}
                        <option value="{{ author.id }}">{{ author.name }}</option>
                    {% endfor %}
                </select>
                <label for="series_id">Серия</label>
                <select id="series_id" name="series_id">
                    <option value="-1" selected>(вне серий)</option>
                    {% for series in all_series %}
                        <option value="{{ series.id }}">{{ series.name }}</option>
                    {% endfor %}
                </select>
                <label for="price">Цена</label>
                <input type="number" id="price" name="price" placeholder="0.00" required>
                {{ add_book_form.csrf_token }}
                <button class="btn" id="submit" name="submit">Добавить</button>
            </form>
        </div>
    </section>
{% endblock %}