{% extends "base.html" %}
{% block content %}
    <section class="book_info">
        <div class="book_info__side">
            <img
                class="book_info__cover"
                src="{{ url_for('static', filename='./images/covers/books/' + book.id|string + '.jpg') }}"
                alt="Книга {{ book.name }} автора {{ author.name }}">
        </div>
        <div class="book_info__main">
            <h1 class="book_info__name">{{ book.name }}</h1>
            <p class="book_info__author">
                Автор: <a href="{{ url_for('author', author_id=author.id) }}">{{ author.name }}</a>
            </p>

            {% if series %}
            <p class="book_info__series">
                Из серии: <a href="{{ url_for('series', series_id=series.id) }}">{{ series.name }}</a>
            </p>
            {% endif %}

            {% if is_bought %}
                <a class="book_info__buy_button btn-purple" href="{{ url_for('download', book_id=book.id) }}" download="{{ book.name }}.fb2">Скачать</a>
            {% else %}
                <button class="book_info__download_button btn buy_button" data-book-id="{{ book.id }}" data-book-name="{{ book.name }}" type="button">Купить за {{ price }}</button>
                {% if is_in_cart %}
                    <button class="book_info__add_to_cart_button btn-gray cart_button" data-book-id="{{ book.id }}" data-action="deleteFromCart" type="button">Удалить из корзины</button>
                {% else %}
                    <button class="book_info__add_to_cart_button btn-gray cart_button"data-book-id="{{ book.id }}" data-action="addToCart" type="button">Добавить в корзину</button>
                {% endif %}
            {% endif %}
        
            <p class="book_info__description">
                {{ book.description }}
            </p>
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/book.js') }}"></script>
{% endblock %}