<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Яндекс.Книги</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./styles/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./styles/solid.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./styles/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./styles/variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./styles/main.css') }}">
    </head>
    <body>
        <header>
            <a class="header__logo_link" href="{{ url_for('index') }}" tabindex="-1">
                <img class="header__logo" src="{{ url_for('static', filename='./images/books-ru-black.svg') }}">
            </a>
            <form class="header__search" method="get">
                <input class="search__field" name="search" type="text" autocomplete="off" placeholder="Книга, серия, автор, издательство">
                <button class="search__button" tabindex="-1" type="submit">
                    <span class="fas fa-search"></span>
                </button>
            </form>
            <button class="header__user">
                <h1 class="header__user__name">Сергей Минаков</h1>
                <img class="header__user__avatar" src="{{ url_for('static', filename='./images/avatars/1.jpg') }}">
            </button>
            <ul class="header__menu">
                <li class="header__menu__item">
                    <a href="./">Библиотека</a>
                </li>
                <li class="header__menu__item">
                    <a href="./mybooks">Мои книги</a>
                </li>
                <li class="header__menu__item">
                    <a href="./genres">Жанры</a>
                </li>
                <li class="header__menu__item-right">
                    <a href="./cart">Корзина</a>
                </li>
            </ul>
        </header>
        <main>
            {% for section in sections: %}
                {% if section.data['type'] == "book" %}
                    <section>
                        <h1 class="section__title">{{ section.data['title'] }}</h1>
                        <div class="carusel-book" style="--max-cover-ratio: {{ section.data['max_cover_ratio'] }}">
                            <ul class="carusel__container">
                                {% for book in section.data['books']: %}
                                    <li class="carusel__item">
                                        <div class="book">
                                            <a class="book__cover_link" href="./book/{{ book['book_id'] }}" style="--cover-ratio: {{ book['cover_ratio'] }}">
                                                <img
                                                    class="book__cover"
                                                    src="{{ url_for('static', filename='./images/covers/books/' + book['book_id'] + '.jpg') }}"
                                                    alt="Книга {{ book['book_name'] }} автора {{ book['author_name'] }}">
                                            </a>
                                            <a class="book__title" href="./book/{{ book['book_id'] }}" tabindex="-1">
                                                {{ book['book_name'] }}
                                            </a>
                                            <a class="book__author" href="./author/{{ book['author_id'] }}">
                                                {{ book['author_name'] }}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <button type="button" data-action="goPrev" class="carusel__control-prev"></button>
                            <button type="button" data-action="goNext" class="carusel__control-next"></button>
                        </div>
                    </section>
                {% else %}
                    <section></section>
                {% endif %}
            {% endfor %}
            <section>
                <h1 class="section__title">Популярные категории</h1>
                <div class="cardshelf">
                    <a
                        class="card"
                        style="background-image: url('{{ url_for('static', filename='./images/covers/cards/1.webp') }}');"
                        href="./card/1"></a>
                    <a
                        class="card"
                        style="background-image: url('{{ url_for('static', filename='./images/covers/cards/2.webp') }}');"
                        href="./card/2"></a>
                    <a
                        class="card"
                        style="background-image: url('{{ url_for('static', filename='./images/covers/cards/3.webp') }}');"
                        href="./card/3"></a>
                    <a
                        class="card"
                        style="background-image: url('{{ url_for('static', filename='./images/covers/cards/4.webp') }}');"
                        href="./card/4"></a>
                    <a
                        class="card"
                        style="background-image: url('{{ url_for('static', filename='./images/covers/cards/5.webp') }}');"
                        href="./card/5"></a>
                    <a
                        class="card"
                        style="background-image: url('{{ url_for('static', filename='./images/covers/cards/6.webp') }}');"
                        href="./card/6"></a>
                    <a
                        class="card"
                        style="background-image: url('{{ url_for('static', filename='./images/covers/cards/19.webp') }}');"
                        href="./card/19"></a>
                    <a
                        class="card"
                        style="background-image: url('{{ url_for('static', filename='./images/covers/cards/8.webp') }}');"
                        href="./card/8"></a>
                </div>
            </section>
        </main>
        <script src="{{ url_for('static', filename='./scripts/utils.js') }}"></script>
        <script src="{{ url_for('static', filename='./scripts/main.js') }}"></script>
    </body>
</html>