{% extends "base.html" %}
{% block content %}
    {% for section in sections: %}
        {% if section.data['type'] == "book" %}
            <section>
                <h1 class="section__title">{{ section.data['title'] }}</h1>
                <div class="carusel" style="--max-cover-ratio: {{ section.data['max_cover_ratio'] }}">
                    <ul class="carusel__container">
                        {% for book in section.data['books']: %}
                            <li class="carusel__item">
                                <div class="book">
                                    <a class="book__cover_link" href="./book/{{ book['book_id'] }}" style="--cover-ratio: {{ book['cover_ratio'] }}">
                                        <img
                                            class="book__cover"
                                            src="{{ url_for('static', filename='./images/covers/books/' + book['book_id'] + '.jpg') }}"
                                            alt="Книга {{ book['book_name'] }} автора {{ book['author_name'] }}">
                                    </a>
                                    <a class="book__title" href="{{ url_for('book', book_id=book['book_id']) }}" tabindex="-1">
                                        {{ book['book_name'] }}
                                    </a>
                                    <a class="book__author" href="./author/{{ book['author_id'] }}">
                                        {{ book['author_name'] }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" data-action="goPrev" class="carusel__control-prev"></button>
                    <button type="button" data-action="goNext" class="carusel__control-next"></button>
                </div>
            </section>
        {% else %}
            <section></section>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/carusel.js') }}"></script>
<script>
    // Чтобы ajax запросы не отправлялись слишком часто,
    // введён флаг, который устанавливается при отправке запроса
    // и снимается, когда приходит ответ или через 1 секунуду
    let isAJAXResponceWaiting = false;
    let responceWaitingInterval;

    window.addEventListener('scroll', function() {
        // Проверяем при прокрутке,
        // что у пользователь осталось
        // меньше 350 пикселей до конца страницы
        if (document.documentElement.getBoundingClientRect().bottom - document.documentElement.clientHeight > 350) {
        return;
        }

        // Проверяем, что мы не ожидаем ответа
        if (isAJAXResponceWaiting) {
            return;
        }

        isAJAXResponceWaiting = true;
        responceWaitingInterval = setInterval(function(){
            isAJAXResponceWaiting = false;
        }, 1000);

        AJAX(
            window.location.origin + '/api/sections/2',
            '',
            'GET',
            function(json) {
                isAJAXResponceWaiting = false;
                clearInterval(responceWaitingInterval);

                let data = JSON.parse(json);
                let main = document.getElementsByTagName('main')[0];

                for (let section of data) {
                    let sectionElement = document.createElement('section');
                    let sectionHTML = '<h1 class="section__title">' +
                                        section.title +
                                    '</h1>';
                    
                    sectionHTML += '<div class="carusel" style="--max-cover-ratio: ' + section.max_cover_ratio + '">' +
                                '    <ul class="carusel__container">';
                    
                    for (let book of section.books) {
                        sectionHTML += '<li class="carusel__item">' +
                                    '   <div class="book">' +
                                    '      <a class="book__cover_link" href="./book/' + book.book_id + '" style="--cover-ratio: ' + book.cover_ratio + '">' +
                                    '          <img class="book__cover" src="./resources/images/covers/books/' + book.book_id + '.jpg" alt="Книга ' + book.book_name + ' автора ' + book.author_name + '">' +
                                    '      </a>' +
                                    '      <a class="book__title" href="./book/' + book.book_id + '" tabindex="-1">' +
                                                book.book_name +
                                    '      </a>' +
                                    '      <a class="book__author" href="./author/' + book.author_id + '">' +
                                                book.author_name +
                                    '      </a>' +
                                    '   </div>' +
                                    '</li>';
                    }

                    sectionHTML += '    </ul>' +
                                '    <button type="button" data-action="goPrev" class="carusel__control-prev"></button>' +
                                '    <button type="button" data-action="goNext" class="carusel__control-next"></button>' +
                                '</div>';

                    sectionElement.innerHTML = sectionHTML;
                    caruselInitializator(
                        sectionElement.getElementsByClassName('carusel')[0]
                    );
                    main.appendChild(sectionElement);
                }
            }
        )
    });
</script>
{% endblock %}
